# Runtime app data (DO NOT TRACK)
config/discord/
config/Slack/
config/spotify/
config/Google/
config/Code/Cache/
config/**/Cache/
config/**/GPUCache/
config/**/Code Cache/

# Secrets
**/secrets/**
**/*.key
**/*.pem
**/token*
**/cookies*
**/.env

# Caches
**/cache/**
**/.cache/**

# Large runtime data
**/logs/**

# Ignore embedded git repos (plugins)
**/.git
**/.git/**

