
############################
# Runtime application data
############################

config/discord/
config/Slack/
config/spotify/
config/Google/
config/Code/

# Generic runtime caches
config/**/Cache/
config/**/Code Cache/
config/**/GPUCache/


############################
# Secrets & credentials
############################

**/secrets/**
**/.env
**/*.key
**/*.pem
**/token*
**/cookies*


############################
# Caches & logs
############################

**/.cache/**
**/cache/**
**/logs/**


############################
# Embedded git repositories
# (plugins, sub-repos)
############################

**/.git
**/.git/**


############################
# Local binaries (user bin)
############################

local/bin/*.AppImage
local/bin/cache/
local/bin/tmp/
